@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Together with us, making more smiles!.</p>
    <span>Hello, </span>@ViewData["FullName"]

    <form action="/Userlogin/Logout" method="post">
        <button type="submit" style="padding-right:0;margin-top:10px;margin-bottom:0px;background:transparent;border:none;">
            <span class="btn btn-large btn-danger"><localize>Logout</localize></span>
        </button>
    </form>
</div>
